<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar">
        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">

          <i class="fa-solid fa-bars"></i>
          <button type ="button" name="section">Section</button>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <button type ="button" name="search">Search</button>
        </div>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
		<ul>
      <li data-controller="sections-sidebar">
      <div class="sub">
        <!--<div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">//-->
          <input type ="button" name="subscribe" value="Subcribe Now">
        </div>
      </li>
			<li data-controller="modal">
      <div class="log">
        <!--<div id="search-modal-btn" data-action="click->modal#toggleModal">//-->
          <input type ="button" name="subscribe" value="Log In">
        </div>
        </div>
			</li>
		</ul>
    <i class="fa-solid fa-gear"></i>
	</nav>
</header>
